// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "compass/css3";

// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "foundation/common/globals";
// @import "modular-scale";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

@import "foundation/common/typography";

// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";

// @import "foundation/components/modules/tabs";

@import "foundation/components/modules/ui";

// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url('modernpics-webfont.eot');
    src: url('modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('modernpics-webfont.woff') format('woff'),
         url('modernpics-webfont.ttf') format('truetype'),
         url('modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

$red: #e03000;
$bg: #f4f4f4 url(../images/bg-2.png) repeat center center;
 
body {
	background: $bg;
}

body, div, dl, dt, dd, ul, ol, li, form, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  font-size: ms(1);
  direction: ltr;
}

h3, h4, h5, h6 {
	margin-top: 1.5em;
	margin-bottom: 1em;
}

pre, code {
	font-family: "Courier New", "Courier", monospace;
	@include border-radius(5px);
}

span.modernpic {
	font-family: ModernPictogramsNormal;
}


#content {

	margin-top: 3em; 

	article.post {
		margin-top: 0em;
		margin-bottom: 0em;

		h3 {
			color: $red;
			font-size: ms(2);
		}

		h4 {
			font-size: ms(1);
			font-weight: bold;
		}

		ul {
			padding-left: 50px; 
			list-style-position: outside;

			li {
				padding: 5px 0px;
			}
		}

		.label.read-more {
			background-color: lighten($mainColor,40%);
			padding: 7px;
			font-size: ms(0);
			@include transition-property(all);
	  		@include transition-duration(.25s);

			a {
				@include transition-property(all);
	  			@include transition-duration(.25s);
				color: $mainColor;
			}
		}

		.label.read-more:hover {
			@include box-shadow( rgba( darken($mainColor, 20%) , 0.35) 0px 0px 4px);
			background-color: $red;

			a {
				color: $white;
			}
		}
	}

	article.post.single {
		margin: 1em 0 5em;
		border-bottom: none;
		min-height: 600px;
	}

	.read-more-articles {
		margin: 2em 0em;
		font-size: ms(1);
	}
}

header.header {
	background-color: #000;
	border-bottom: #e8e8e8;

	// This yields a linear gradient spanning from top to bottom
	@include background-image(linear-gradient(center top, #f8f8f8, #f8f8f8));
	@include box-shadow(#000 0px 0px 4px);

	.top-name h1 {
		margin: 30px 0px;
		//font-family: 'Source Sans Pro', sans-serif;
		font-weight: 100;
		color: darken($white,25%);

		a {
			/* color: darken($white, 5%); */
			color: $black;
			font-size: ms(3);
		}
	}

	h1.super {
		font-size: ms(4);
		text-align: left;
	}
}


//.top-bar ul > li:hover, .top-bar ul > li.active {
//  background: #f0f0f0;
//}

#content {
	a.back {
		font-size: 12px;
		padding: 7px;
		border-radius: 5px;
		background-color: lighten($mainColor,40%);
		color: $mainColor;
		@include transition-property(all);
  		@include transition-duration(.25s);
		&:hover {
			background-color: $red;
			color: $white;
			@include box-shadow(rgba(darken($red, 35%), 0.5) 0px 0px 3px);
		}
	}
}

section.content {

	h1, h2, h3 {
	color: $red;
	font-weight: 100;
	}

	p {
		color: #202828;
	}

	object, embed {
    	height: 100%;
	}

	img, object, embed {
	    height: inherit;
	    max-width: 100%;
	}
}

.top-bar {
	
	@include background-image(linear-gradient(center top, #202828, #333));

	.nav.link-list {

		li {
			margin-left: 0px;
			margin-right: 1em;
			padding-left: 1em;
		}

		> li > a {
			font-size: 16px;
			font-weight: 100;
			afont-family: 'Source Sans Pro', sans-serif;
			color: darken($white,25%);
			display: inline;
			padding: 0em 2em 0em 0.5em;

			&:hover {
				color: darken($white,15%);
			}
		}

		li span.pikto {
			display: block;
			float: left;
			color: darken($white,35%);
			font-family: "ModernPictogramsNormal";
			font-weight: 100;
			font-size: 28px;
			text-align: left;
		}
	}
}

.tagindex {

	margin: 1em 0em 7em;

	h1 {
		color: darken($white,25%);
		background: $bg;
		margin: 0 0 0.5em;
		text-align: left;
		padding: 0.2em;
	}

	ul.tagindex {
		> li {
			list-style-type: none;
			margin: 10px 0px 10px;

			> ul {
				display: none;
				margin-left: 44px;
				padding-left: 24px;
				border-left: 1px solid darken($white, 10%);
			}

			> ul > li {
				list-style-type: none;

				h4 {
					font-size: ms(1);
					/* background: transparent url(../icons/pencil-18-18-semi.png) no-repeat left center; */
					padding-left: 0px;
					margin-top: 1em;
					margin-left: 10px;
				}

				p {
					padding: 0em 0em 1em 2em;
					font-size: ms(0);
				}
			}

			> ul > li:last-child {
				margin-bottom: 40px;
			}

			span.tag {
				font-size: ms(1);
				padding: 10px 10px 10px 32px;
				color: $black;
			}

			span.pikto {
				display: block;
				width: 100%;
				color: $mainColor;
				font-family: "ModernPictogramsNormal";
				font-size: 32px;
				line-height: 32px;
				text-align: left;
				@include single-text-shadow (0px, 0px, 6px, false, #fff);

				a {
					font-family: $headerFontFamily;
					font-size: ms(2);
					padding-left: 0.5em;

					&:hover {
						color: lighten($mainColor,15%);
					}
				}
			}
		}
	}

}


article.post {
	padding-bottom: 3em;
	border-bottom: 1px solid darken($white, 10%);
	margin: 2em 0em 5em;

	.date {
		font-size: ms(0);
		float: right;

		&:after {
			content: " ";
			clear: both;
		}
	}

	p {
		margin: 1em 0em;
	}
}

.centered-image {
	width: 100%;
	margin: 2em 0em;
	text-align: center;
}

p.label.read-more {
	background-color: darken($white, 10%);
	padding: 5px;

	a {
		color: $black;
	}
}

.timeline {
	padding: 1em 0em 7em;
	background: transparent url(../images/dotted-line.png) repeat-y center center;

	h1 {
		color: darken($white,25%);
		background: $bg;
		margin: 0 0 0.5em;
		text-align: center;
		padding: 0.2em;
	}
}

.timeline .date, .timeline .title {
	margin: 0em auto 0em auto;
	font-size: 14px;
	padding: 5px;
	text-align: center;
	background-color: $white;
}

.timeline .date {
	border: 1px solid darken($white, 7%);
	color: $red;
	background: $bg;
	border-radius: 5px;
	width: 140px;
}
.timeline .title {
	margin: 0.5em auto 2em auto;
	background-color: transparent;

	h4 {
		background: $bg;
		padding: 10px;
		margin: 0.25em auto 1em auto;

		a {
			color: $mainColor;

			&:hover {
				color: lighten($mainColor, 15%);
			}
		}
	}
}

footer {
	background-color: #f0f0f0;
	color: darken($black,25%);
	height: 140px;

	ul.piktonav, ul.iconnav {

		padding: 2em 0;

		li {
			cursor: pointer;
			@include opacity(0.75);
			list-style-type: none;
			display: block;
			height: 72px;
			width: 58px;
			float: left;
			margin-right: 24px;

			a {
				color: darken($white,40%);
			}

			.pikto {
				display: block;
				width: 100%;
				font-family: "ModernPictogramsNormal";
				font-size: 48px;
				line-height: 48px;
				text-align: center;
				@include single-text-shadow (0px, 0px, 6px, false, #fff);
			}

			.txt {
				display: block;
				width: 100%;
				font-family: Verdana, sans-serif;
				text-align: center;
				font-size: 11px;
			}

			&:hover {
				@include opacity(1);
				color: $mainColor;
			}
		}
	}

	ul.iconnav {

		border-left: 1px solid darken($white,12%);

		li {
			float: right;
			margin-left: 30px;
		}

		.icon {
			display: block;
			margin-bottom: 5px;
			height: 48px;

			&.cocomoshi {
				background: transparent url(/ah-icons/cocomoshi-48-48.png) no-repeat center center;
				width: 80px;
			}

			&.cityclash {
				background: transparent url(/ah-icons/cityclash-48-48.png) no-repeat center center;
				width: 80px;
			}
		}

		.txt {
			width: 80px;
			text-align: center;
		}
	}
}

#copyright {
	/* @include box-shadow(rgba($black, 0.5) 0px 0px 3px); */
	background-color: #e8e8e8;
	color: lighten($black,25%);
	height: 56px;
	span {
		font-size: 11px;
		color: darken($white,30%);
		padding: 2em 0;

		a {
			color: darken($white,50%);
		}
	}
}

form.contact {
	margin: 2em 0em 1em 0em;
}